# ملفات بايثون
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# البيئة الافتراضية
venv/
ENV/
.env

# مجلدات IDE
.idea/
.vscode/
*.swp
*.swo

# ملفات النظام
.DS_Store
Thumbs.db
